ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 3px solid transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: #108ee9;
  border-bottom: 3px solid #108ee9;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.65);
  text-align: center;
}

.logout {
  float: right;
}
